<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.loebs</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Alfred access to Classical Studies resources</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Corpora</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
